@mixin flex ($justify,$align,$direction,$wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin btn($bgcolor,$color,$radius,$border) {
    background: $bgcolor;
    color: $color;
    border-radius: $radius;
    font-size: 1rem;
    padding: 15px 30px;
    text-transform: uppercase;
    border: $border;
}