
/*---------------------------------
    GOOGLE FONTS
-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



/*---------------------------------
    EXTERNAL FILES
-----------------------------------*/
@import 'variables';
@import 'mixins';


/*---------------------------------
    DEFAULT STYLES
-----------------------------------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: $text;
    line-height: 1.5;
    font-size: $fontSize;
}

h1,h2,h3,h4,h5,h6{
    font-family: $headings;
}

.container{
    width: 90%;
    margin: auto;
}

.container1{
    width: 80%;
    margin: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $link;

    &:hover{
        transition: $transition;
    }
}



// NAV SECTION

nav{
    background-color: $dark;

    .container{
      @include flex(space-between, center, row, wrap);
      padding: 25px 0px;
      @media(max-width:768px){
        justify-content: center;
    }
        .logo{
            color: $white;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 2px;
            &:hover{
                color: $primary;
            }
        }

        ul{
            @include flex(center, center, row, wrap);
            
            li{
                padding: 0px 15px;
                @media(max-width:768px){
                    padding: 0px 5px;
                }
                
                a{
                    color: $white;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    } 
}


// HEADER SECTION

header{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;

    hgroup{
        @include flex(center,center,column,nowrap);
        height: 80vh;
        color: $white;
        text-align: center;

        h4{
            font-size: 1.2rem;
            color: $gray;
        }

        h1{
            font-size: 3rem;
            padding: 10px 0px;

            @media(max-width:768px){
                font-size: 2rem;
            }
        }

        .btn-area{
            button{
                &:nth-child(1){
                    @include btn($dark,$white,3px,none);

                    &:hover{
                        transition: $transition;
                        cursor: pointer;
                        color: $primary;
                    }
                }

                &:nth-child(2){
                    @include btn(none,$primary,3px,solid $primary);

                    &:hover{
                        transition: $transition;
                        cursor: pointer;
                        color: $white;
                    }
                }
            }
        }

    }
}
    

// ABOUT SECTION

.about{
    background-color: $dark;
    color: $white;
    padding: $padding;
    
    .container1{
        @include flex(space-between,center,row,wrap);

        article{
            flex: 0 0 40%;

            @media(max-width:768px){
                flex: 0 0 100%;
                margin-bottom: 20px;
            }

            h3{
                font-size: 2rem;
                margin-bottom: 10px;
            }
            p{
                color: $gray;
            }
            h3+p{
                color:$white;
                margin-bottom: 10px;
            }

            button{
                @include btn($primary,$white,none,none);
                margin-top: 20px;
                border-radius: 5px;

                &:hover{
                    transition: $transition;
                    cursor: pointer;
                    color: $primary;
                    background-color: $white;
                }
            }

            h4{
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 10px;
            }
        }
    }

}



// GYM SECTION

.gym{
    background-color: $aboutBgColor;
    padding: $padding;

    .container{
        @include flex (space-between,center,row,wrap);

        article{
            flex: 0 0 45%;

            @media(max-width:768px){
                flex: 0 0 100%;
                text-align: center;
            }

            &:nth-child(1){
                h2{
                    font-size: 2rem;
                    padding-bottom: 20px;
                }

                p{
                    padding-bottom: 20px;
                }
            }

            &:nth-child(2){
                @include flex (space-between,center,row,wrap);

                div{
                    flex: 0 0 45%;
                    text-align: center;
                    box-shadow: 0 0 10px $dark;

                    @media(max-width:768px){
                        flex: 0 0 100%;
                        margin-bottom: 20px;
                    }
                    
                    &:hover{
                        transform: scale(1.2);
                        transition-duration: 2s;

                        @media(max-width:768px){
                            transform: scale(0.9);
                            transition-duration: 2s;
                        }
                    }

                    img{
                        width: 100%;
                        height: auto;
                    }

                    h3{
                        font-size: 1.7rem;
                        padding-bottom: 15px;
                    }

                    p{
                        padding-bottom: 15px;
                    }

                }
            }
        }
    }
}



// CLASSES SECTION

.classes{
    padding: $padding;

    hgroup{
        text-align: center;
        margin-bottom: 40px;
        font-size: 1.7rem;

        span{
            color: $gray;
        }
    }

    .row{
        @include flex(space-between,center,row,wrap);


        article{
            flex: 0 0 30%;
            text-align: center;
            box-shadow: 0 0 10px $dark;

            @media(max-width:768px){
                flex: 0 0 100%;
                margin-bottom: 20px;
            }

            &:hover{
                transform: scale(1.1);
                transition-duration: 2s;

                @media(max-width:768px){
                    transform: scale(0.9);
                    transition-duration: 2s;
                }
            }

            img{
                width: 100%;
                height: auto;
            }

            h3{
                font-size: 2rem;
                padding-bottom: 20px;
            }

            p{
                padding-bottom: 20px;
            }

            button{
                @include btn($primary,$white,25px 0px 25px 0px,none);
                margin-bottom: 20px;

                &:hover{
                    transition: $transition;
                    cursor: pointer;
                    border-radius: 0px 25px 0px 25px;
                }
            }
        }
    }
}

