$text:'Montserrat', sans-serif;
$headings:'Roboto', sans-serif;
$fontSize:16px;
$transition:  .4 ease;
$padding: 50px 0px;
$primary:#f13a11;
$white:#ffffff;
$dark:#171819;
$aboutBgColor:#f9f9f9;
$gray:#909090;
$link:#404040;